In [120]:
pandas.version

NameError: name 'pandas' is not defined

In [105]:
df = pd.read_csv("tweet.csv", sep=",")
key_word = "Citroen"
df_target = df[df['body'].str.contains(f"{key_word}")]
df_target

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
152108,1172477830933831682,TeslaOpinion,1568375473,Tesla is the 4th MOST RELIABLE car in whatcar ...,2,1,3
164561,1175334170551173121,TeslaOpinion,1569056477,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,7,11
165289,1175749560569757701,TeslaOpinion,1569155514,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,3,9
172015,1177133897634611200,TeslaOpinion,1569485565,Tesla is the 3rd MOST RELIABLE manufacturer in...,0,3,6
177532,1178465827793686528,TeslaOpinion,1569803122,Tesla is THE MOST RELIABLE manufacturer in UK ...,1,3,4
192196,1181377738709422080,TeslaOpinion,1570497376,UK survey. Tesla is the MOST RELIABLE automake...,1,3,11
197741,1182343670328156160,AlexWitzleben,1570727672,Tesla Earnings: Will the Electric-Car Maker Re...,0,0,1
283305,1197904477396836352,HansNiederberg2,1574437658,#Cybertruck $TSLA what has happened last night...,0,0,3
284366,1197986013328674816,BoreGuru,1574457097,It's as if French automaker Citroen started th...,0,1,1

In [106]:

df_target['post_date'] = pd.to_datetime(df_target['post_date'], unit='s').apply(lambda x: x.date())
df_target

/home/adrienfontaine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
152108,1172477830933831682,TeslaOpinion,2019-09-13,Tesla is the 4th MOST RELIABLE car in whatcar ...,2,1,3
164561,1175334170551173121,TeslaOpinion,2019-09-21,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,7,11
165289,1175749560569757701,TeslaOpinion,2019-09-22,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,3,9
172015,1177133897634611200,TeslaOpinion,2019-09-26,Tesla is the 3rd MOST RELIABLE manufacturer in...,0,3,6
177532,1178465827793686528,TeslaOpinion,2019-09-30,Tesla is THE MOST RELIABLE manufacturer in UK ...,1,3,4
192196,1181377738709422080,TeslaOpinion,2019-10-08,UK survey. Tesla is the MOST RELIABLE automake...,1,3,11
197741,1182343670328156160,AlexWitzleben,2019-10-10,Tesla Earnings: Will the Electric-Car Maker Re...,0,0,1
283305,1197904477396836352,HansNiederberg2,2019-11-22,#Cybertruck $TSLA what has happened last night...,0,0,3
284366,1197986013328674816,BoreGuru,2019-11-22,It's as if French automaker Citroen started th...,0,1,1

In [117]:
df_target = (df_target['post_date'] > '2010-09-13') & (df_target['post_date'] <= '2021-09-13')

TypeError: '>' not supported between instances of 'datetime.date' and 'str'

In [78]:
# import sqlite3
# import matplotlib.pyplot as plt
# import numpy as np
import pandas as pd
import json
import statistics
#import seaborn as sns
from datetime import datetime

import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [79]:
df = pd.read_csv("tweet.csv", sep=",")
key_word = "Citroen"
df_target = df[df['body'].str.contains(f"{key_word}")]

pd.to_datetime(df_target['post_date'], unit='s').apply(lambda x: x.date())

result = df_target.to_json(orient="split")
parsed = json.loads(result)
df_target

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
152108,1172477830933831682,TeslaOpinion,1568375473,Tesla is the 4th MOST RELIABLE car in whatcar ...,2,1,3
164561,1175334170551173121,TeslaOpinion,1569056477,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,7,11
165289,1175749560569757701,TeslaOpinion,1569155514,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,3,9
172015,1177133897634611200,TeslaOpinion,1569485565,Tesla is the 3rd MOST RELIABLE manufacturer in...,0,3,6
177532,1178465827793686528,TeslaOpinion,1569803122,Tesla is THE MOST RELIABLE manufacturer in UK ...,1,3,4
192196,1181377738709422080,TeslaOpinion,1570497376,UK survey. Tesla is the MOST RELIABLE automake...,1,3,11
197741,1182343670328156160,AlexWitzleben,1570727672,Tesla Earnings: Will the Electric-Car Maker Re...,0,0,1
283305,1197904477396836352,HansNiederberg2,1574437658,#Cybertruck $TSLA what has happened last night...,0,0,3
284366,1197986013328674816,BoreGuru,1574457097,It's as if French automaker Citroen started th...,0,1,1

In [80]:
df_target

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
152108,1172477830933831682,TeslaOpinion,1568375473,Tesla is the 4th MOST RELIABLE car in whatcar ...,2,1,3
164561,1175334170551173121,TeslaOpinion,1569056477,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,7,11
165289,1175749560569757701,TeslaOpinion,1569155514,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,3,9
172015,1177133897634611200,TeslaOpinion,1569485565,Tesla is the 3rd MOST RELIABLE manufacturer in...,0,3,6
177532,1178465827793686528,TeslaOpinion,1569803122,Tesla is THE MOST RELIABLE manufacturer in UK ...,1,3,4
192196,1181377738709422080,TeslaOpinion,1570497376,UK survey. Tesla is the MOST RELIABLE automake...,1,3,11
197741,1182343670328156160,AlexWitzleben,1570727672,Tesla Earnings: Will the Electric-Car Maker Re...,0,0,1
283305,1197904477396836352,HansNiederberg2,1574437658,#Cybertruck $TSLA what has happened last night...,0,0,3
284366,1197986013328674816,BoreGuru,1574457097,It's as if French automaker Citroen started th...,0,1,1

1172477830933831682

In [39]:
nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')



doc = nlp("Marcel is a great friend")
print(doc._.polarity)

0.8

In [61]:
#classer les phrases par rapport à leurs positivités 
list_polarity = []

for element in df_target['body'].values:
    nlp = spacy.load('en_core_web_sm')
    nlp.add_pipe('spacytextblob')
    doc = nlp(element)
    list_polarity.append(doc._.polarity)
    
round(statistics.mean(list_polarity),3)

0.108