In [34]:
df = pd.read_csv("tweet.csv", sep=",")
key_word = "Citroen"
df_target = df[df['body'].str.contains(f"{key_word}")]

result = df_target.to_json(orient="split")
parsed = json.loads(result)
json.dumps(parsed)

'{"columns": ["tweet_id", "writer", "post_date", "body", "comment_num", "retweet_num", "like_num"], "index": [152108, 164561, 165289, 172015, 177532, 192196, 197741, 283305, 284366], "data": [[1172477830933831682, "TeslaOpinion", 1568375473, "Tesla is the 4th MOST RELIABLE car in whatcar UK\\u2019s survey!10 LEAST reliable: Land Rover, Renault, Jeep, Nissan, Vauxhall, Jaguar, Alpha Romeo, Mercedes Benz, Porsche, Citroen.$TSLA $tslaqhttps://whatcar.com/news/the-uks-most-and-least-reliable-car-makes/n20072\\u2026", 2, 1, 3], [1175334170551173121, "TeslaOpinion", 1569056477, "Tesla is the 3rd MOST RELIABLE manufacturer in WhatCar UK\\u2019s survey! 18,000 surveyed.10 LEAST reliable: Land Rover, Renault, Jeep, Nissan, Vauxhall, Jaguar, Alpha Romeo, Mercedes Benz, Porsche, Citroen.$TSLA $tslaqhttps://whatcar.com/news/the-uks-most-and-least-reliable-car-makes/n20072\\u2026", 1, 7, 11], [1175749560569757701, "TeslaOpinion", 1569155514, "Tesla is the 3rd MOST RELIABLE manufacturer in WhatCar UK\\u2019s survey! 18,000 surveyed.10 LEAST reliable: Land Rover, Renault, Jeep, Nissan, Vauxhall, Jaguar, Alpha Romeo, Mercedes Benz, Porsche, Citroen.$TSLA $tslaqhttps://whatcar.com/news/the-uks-most-and-least-reliable-car-makes/n20072\\u2026", 1, 3, 9], [1177133897634611200, "TeslaOpinion", 1569485565, "Tesla is the 3rd MOST RELIABLE manufacturer in WhatCar UK\\u2019s survey! 18,000 surveyed.10 LEAST reliable: Land Rover, Renault, Jeep, Nissan, Vauxhall, Jaguar, Alpha Romeo, Mercedes Benz, Porsche, Citroen.$TSLA $tslaq", 0, 3, 6], [1178465827793686528, "TeslaOpinion", 1569803122, "Tesla is THE MOST RELIABLE manufacturer in UK survey when exclude cars with regular servicing needs! 18,000 surveyed.10 LEAST reliable: Land Rover, Renault, Jeep, Nissan, Vauxhall, Jaguar, Alpha Romeo, Mercedes, Porsche, Citroen.#DreamCar $TSLA $tslaqhttps://whatcar.com/news/the-uks-most-and-least-reliable-car-makes/n20072\\u2026", 1, 3, 4], [1181377738709422080, "TeslaOpinion", 1570497376, "UK survey. Tesla is the MOST RELIABLE automaker (excluding cars that need significant regular servicing). 18,000 surveyed.10 LEAST reliable: Land Rover, Renault, Jeep, Nissan, Vauxhall, Jaguar, Alpha Romeo, Mercedes Benz, Porsche, Citroen$TSLA $tslaqhttps://whatcar.com/news/the-uks-most-and-least-reliable-car-makes/n20072\\u2026", 1, 3, 11], [1182343670328156160, "AlexWitzleben", 1570727672, "Tesla Earnings: Will the Electric-Car Maker Report a Profit? @themotleyfool #stocks $TSLA https://fool.com/investing/2019/10/10/tesla-earnings-will-the-electric-car-maker-report.aspx\\u2026 #investment  #electriccar #electriccars #ElectricVehicles #EVs #Tesla #cars #Autos #vw #Daimler #BMW #PSA #Renault #Peugeot #Citroen #Fiat #Volvo #Opel", 0, 0, 1], [1197904477396836352, "HansNiederberg2", 1574437658, "#Cybertruck $TSLA what has happened last night would not have happened to:Andr\\u00e9 CitroenCarl Friedrich BenzGiovanni AgnelliGottlieb DaimlerHenry FordLouis ChevroletWilliam Durant..and many more", 0, 0, 3], [1197986013328674816, "BoreGuru", 1574457097, "It\'s as if French automaker Citroen started the body design and then said \\"meh - fuckit, it\'s just going to catch on fire anyway\\" and quit.#TeslaPickupTruck $TSLA", 0, 1, 1]]}'

In [1]:
#df.values[0][0]

In [14]:
# import sqlite3
# import matplotlib.pyplot as plt
# import numpy as np
import pandas as pd
import json
#import seaborn as sns

import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [3]:
df = pd.read_csv("tweet.csv", sep=",")

In [12]:
df_target = df[df['body'].str.contains("Citroen")]
df_target.values[0][0]

1172477830933831682

In [5]:
df

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,1139261573191671811,RaindropsOhMy,1560456100,"$AAPL, that close, OMG! LOL",1,0,0
1,1139261573422309381,TheBurdetteLawF,1560456100,#estate asset watch - most active $NDX stocks ...,0,0,0
2,1139261594326708227,zomgapocalypse,1560456105,LA Times reporters are not aware that Elon Mus...,1,1,1
3,1139261636617920513,Tanzeel_Akhtar,1560456115,Electrek Shares Some Fan Art Of Teslas Upcomin...,0,2,1
4,1139261677273145344,TradeRunnerFX,1560456124,MOC Imbalance Alert: $AAPL 1.142 mil paired sh...,0,0,1
...,...,...,...,...,...,...,...
352943,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
352944,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
352945,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
352946,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
352947,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [6]:
key_word = "APPL"
df[df['body'].str.contains(f"{key_word}")]

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
207,1139292456615325697,StockBoardAsset,1560463463,13 Jun - 06:03:53 PM [RTRS] (AAPL.O) - TRUMP ...,2,1,12
699,1139449728092049408,EWAnalysis,1560500959,Elliott Wave View: Apple ( $AAPL) Has Started ...,0,1,0
856,1139498815449206785,sub_penny,1560512663,$ARYC is @Arrayit and is located in #SiliconVa...,1,4,9
881,1139503868415479808,BZstockss,1560513867,$ARYC is @Arrayit and is located in #SiliconVa...,1,1,6
1964,1139626213889269760,4E_justice,1560543037,HERE WE GO...you wanna know which cities signe...,3,5,8
...,...,...,...,...,...,...,...
351496,1212009378997587968,bitcommander,1577800528,Portfolio management on #iPhone.$WMT $APPL #io...,0,0,0
351503,1212010352982024193,Pivotal_Pivots,1577800760,My 20/20 Predictions:$DXY will fall to $95$EUR...,7,16,56
352183,1212060977904148481,NotTheWorstKid,1577812830,Great job! I had a 92% return this year. $TSLA...,1,0,0
352368,1212079311483809797,stocknewsdotcom,1577817201,$AAPL Three of the most closely watched stocks...,0,0,0
352913,1212149780471853057,harveyrosenblum,1577834002,If this continues then the market will be enti...,0,0,2

In [7]:
#classer les phrases par rapport à leurs positivités 

for i in df_target['body'].values:


    nlp = spacy.load('en_core_web_sm')
    nlp.add_pipe('spacytextblob')



    doc = nlp(i)


    print(doc._.polarity)      # Polarity: -0.125
#doc._.subjectivity  # Sujectivity: 0.9
#doc._.assessments   # Assessments: [(['really', 'horrible'], -1.0, 1.0, None), (['worst', '!'], -1.0, 1.0, None), (['really', 'good'], 0.7, 0.6000000000000001, None), (['happy'], 0.8, 1.0, None)]

0.1
0.10833333333333334
0.10833333333333334
0.10833333333333334
0.06666666666666667
0.14375
0.0
0.3333333333333333
0.0

In [8]:
try:
    connexion = sqlite3.connect("IMDB.db")
    c = connexion.cursor()
except:
    print("no db connexion")
    

with connexion:
    c.execute("UPDATE movies SET public = 'Tous publics' WHERE public = 'Tous Public';")
    print("ok")

no db connexion

NameError: name 'connexion' is not defined

In [ ]:
df = pd.read_sql("SELECT * FROM movies;", connexion)

In [ ]:
df

In [ ]:
#classer les mots par type
doc = nlp("Je travaille en France chez John Sena")
for ent in doc.ents:
    print(ent.text, ent.label_)

In [ ]:
#classer les mots par type
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')


for i in list(df.values):
    doc = nlp(i[8])
    for ent in doc.ents:
        print(ent.text, ent.end_char, ent.label_)
    print('-'*100)

In [ ]:
#classer les phrases par rapport à leurs positivités 

import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')
text = 'fuck you asshole'


doc = nlp(text)


doc._.polarity      # Polarity: -0.125
#doc._.subjectivity  # Sujectivity: 0.9
#doc._.assessments   # Assessments: [(['really', 'horrible'], -1.0, 1.0, None), (['worst', '!'], -1.0, 1.0, None), (['really', 'good'], 0.7, 0.6000000000000001, None), (['happy'], 0.8, 1.0, None)]

In [ ]:
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')

for i in list(df.values):
    
    doc = nlp(i[8])

    if doc._.polarity > 0.7:
        print(f'Titre : {i[1]}\nSynopsis : {i[8]}\nNote polarity : {doc._.polarity}\n','-'*100)