In [1]:
# import sqlite3
# import matplotlib.pyplot as plt
# import numpy as np
import pandas as pd
import json
import statistics
#import seaborn as sns
from datetime import datetime
import time

import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [2]:
df = pd.read_csv("tweet.csv", sep=",")
key_word = "Citroen"
df_target = df[df['body'].str.contains(f"{key_word}")]

#df_target['post_date'] = pd.to_datetime(df_target['post_date'], unit='s').apply(lambda x: x.date())


result = df_target.to_json(orient="split")
parsed = json.loads(result)
df_target

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
152108,1172477830933831682,TeslaOpinion,1568375473,Tesla is the 4th MOST RELIABLE car in whatcar ...,2,1,3
164561,1175334170551173121,TeslaOpinion,1569056477,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,7,11
165289,1175749560569757701,TeslaOpinion,1569155514,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,3,9
172015,1177133897634611200,TeslaOpinion,1569485565,Tesla is the 3rd MOST RELIABLE manufacturer in...,0,3,6
177532,1178465827793686528,TeslaOpinion,1569803122,Tesla is THE MOST RELIABLE manufacturer in UK ...,1,3,4
192196,1181377738709422080,TeslaOpinion,1570497376,UK survey. Tesla is the MOST RELIABLE automake...,1,3,11
197741,1182343670328156160,AlexWitzleben,1570727672,Tesla Earnings: Will the Electric-Car Maker Re...,0,0,1
283305,1197904477396836352,HansNiederberg2,1574437658,#Cybertruck $TSLA what has happened last night...,0,0,3
284366,1197986013328674816,BoreGuru,1574457097,It's as if French automaker Citroen started th...,0,1,1

In [3]:
start_date = "13/09/2010"
end_date = "13/09/2021"
start_date = int(time.mktime(datetime.strptime(start_date, "%d/%m/%Y").timetuple()))
end_date = int(time.mktime(datetime.strptime(end_date, "%d/%m/%Y").timetuple()))


df_target = df_target[ (df_target["post_date"] >= start_date) & (df_target["post_date"] <= end_date)]

In [4]:
df_target

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
152108,1172477830933831682,TeslaOpinion,1568375473,Tesla is the 4th MOST RELIABLE car in whatcar ...,2,1,3
164561,1175334170551173121,TeslaOpinion,1569056477,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,7,11
165289,1175749560569757701,TeslaOpinion,1569155514,Tesla is the 3rd MOST RELIABLE manufacturer in...,1,3,9
172015,1177133897634611200,TeslaOpinion,1569485565,Tesla is the 3rd MOST RELIABLE manufacturer in...,0,3,6
177532,1178465827793686528,TeslaOpinion,1569803122,Tesla is THE MOST RELIABLE manufacturer in UK ...,1,3,4
192196,1181377738709422080,TeslaOpinion,1570497376,UK survey. Tesla is the MOST RELIABLE automake...,1,3,11
197741,1182343670328156160,AlexWitzleben,1570727672,Tesla Earnings: Will the Electric-Car Maker Re...,0,0,1
283305,1197904477396836352,HansNiederberg2,1574437658,#Cybertruck $TSLA what has happened last night...,0,0,3
284366,1197986013328674816,BoreGuru,1574457097,It's as if French automaker Citroen started th...,0,1,1

In [ ]:
#classer les phrases par rapport à leurs positivités 
list_polarity = []

for element in df_target['body'].values:
    nlp = spacy.load('en_core_web_sm')
    nlp.add_pipe('spacytextblob')
    doc = nlp(element)
    list_polarity.append(doc._.polarity)
    print(doc._.polarity)
    
round(statistics.mean(list_polarity),3)

0.1
0.10833333333333334
0.10833333333333334
0.10833333333333334
0.06666666666666667